.navbar{
  border-color: #317EB6;
}

.nav.navbar-nav a {
    color: white;
    font-weight: bold;
}

.nav.navbar-nav a:hover {
    color: #366BE7;
}

ul#navigation .active{
    background-color: white;
}

ul#navigation .active a {
  color: #1250DF;
}
/*
.navbar-nav > li > .dropdown-toggle:focus
{
  color: #366BE7;
}
*/
.navbar-nav > li > .dropdown-menu
{
  background-color: #317EB6;
}
/*
.dropdown-menu a{
    color: #366BE7;
}
*/
.icon-bar {
    background-color: white;
}

li.right {
  float: right;
}

.container {
  padding-top: 25px;
}

.container.my_title {
  padding-top: 50px;
}

.my_pic {
  padding-top: 20px;
  width: 170px;
  float: right;
}

.justify {
  text-align: justify;
}

.carousel-indicators li {
  visibility: hidden;
}
